* {
    margin: 0px;
    padding: 0px;
    font-family: "Chiron Sung HK";
    font-weight: 600;
    box-sizing: border-box;
}

body {
    background-color: white;
    color: black;
}

.header-container {
    height: 8vh;
    padding: 10px;
}

.small-spaced-header {
    display: flex;
    column-gap: 7%;
}

.spaced-header {
    display: flex;
    justify-content: space-between;
}

.header-container img {
    height: 100%;
    width: auto;
}

.centre-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92vh;
    padding: 20px;
}

.main-container {
    width: 60vh;
    height: auto;
}

.main-container * {
    font-size: 13px
}

.main-container h1 {
    font-size: 18px;
    margin-block-end: 15px;
}

.main-container p {
    color: rgb(100, 100, 100);
}

.main-container a {
    display: block;
    font-weight: 400;
}

.main-container > * + * {
  margin-block-start: 15px;
}

.sub-container {
    margin-block-start: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 12%;
}

.link-container {
    width: 50%;
    height: auto;
}

.link-container h2 {
    margin-block-end: 7px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

#seperator-h1 {
    margin-block-start: 35px;
    height: 1.5px;
    width: 100%;
}

#seperator-v1 {
    height: 45px;
    width: 1.5px;
}